@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-xl: var(--radius-xl);
  --background-light-alt: var(--background-light-alt);
  --background-dark-alt: var(--background-dark-alt);
  --brand-50: var(--brand-50);
  --brand-100: var(--brand-100);
  --brand-200: var(--brand-200);
  --brand-300: var(--brand-300);
  --brand-400: var(--brand-400);
  --brand-500: var(--brand-500);
  --brand-600: var(--brand-600);
  --brand-700: var(--brand-700);
  --brand-800: var(--brand-800);
  --brand-900: var(--brand-900);
  --brand-950: var(--brand-950);
  --font-serif: var(--font-serif);
  --radius-xs: var(--radius-xs);
  --radius-2xl: var(--radius-2xl);
  --radius-3xl: var(--radius-3xl);
  --radius-4xl: var(--radius-4xl);
  --text-base: var(--text-base);
  --text-base--line-height: var(--text-base--line-height);
  --text-sm: var(--text-sm);
  --text-sm--line-height: var(--text-sm--line-height);
  --text-lg: var(--text-lg);
  --text-lg--line-height: var(--text-lg--line-height);
  --text-xs: var(--text-xs);
  --text-xs--line-height: var(--text-xs--line-height);
  --text-xl: var(--text-xl);
  --text-xl--line-height: var(--text-xl--line-height);
  --text-2xl: var(--text-2xl);
  --text-2xl--line-height: var(--text-2xl--line-height);
  --text-4xl: var(--text-4xl);
  --text-4xl--line-height: var(--text-4xl--line-height);
  --text-3xl: var(--text-3xl);
  --text-3xl--line-height: var(--text-3xl--line-height);
  --text-5xl: var(--text-5xl);
  --text-5xl--line-height: var(--text-5xl--line-height);
  --text-6xl: var(--text-6xl);
  --text-6xl--line-height: var(--text-6xl--line-height);
  --text-7xl: var(--text-7xl);
  --text-7xl--line-height: var(--text-7xl--line-height);
  --text-8xl: var(--text-8xl);
  --text-8xl--line-height: var(--text-8xl--line-height);
  --text-9xl: var(--text-9xl);
  --text-9xl--line-height: var(--text-9xl--line-height);
  --container-3xs: var(--container-3xs);
  --container-2xs: var(--container-2xs);
  --container-xs: var(--container-xs);
  --container-sm: var(--container-sm);
  --container-md: var(--container-md);
  --container-lg: var(--container-lg);
  --container-xl: var(--container-xl);
  --container-2xl: var(--container-2xl);
  --container-3xl: var(--container-3xl);
  --container-4xl: var(--container-4xl);
  --container-5xl: var(--container-5xl);
  --container-6xl: var(--container-6xl);
  --container-7xl: var(--container-7xl);
  --font-weight-thin: var(--font-weight-thin);
  --font-weight-extralight: var(--font-weight-extralight);
  --font-weight-light: var(--font-weight-light);
  --font-weight-normal: var(--font-weight-normal);
  --font-weight-medium: var(--font-weight-medium);
  --font-weight-semibold: var(--font-weight-semibold);
  --font-weight-bold: var(--font-weight-bold);
  --font-weight-extrabold: var(--font-weight-extrabold);
  --font-weight-black: var(--font-weight-black);
  --blur-xs: var(--blur-xs);
  --blur-sm: var(--blur-sm);
  --blur-md: var(--blur-md);
  --blur-lg: var(--blur-lg);
  --blur-xl: var(--blur-xl);
  --blur-2xl: var(--blur-2xl);
  --blur-3xl: var(--blur-3xl);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --drop-shadow-xs: var(--drop-shadow-xs);
  --drop-shadow-sm: var(--drop-shadow-sm);
  --drop-shadow-md: var(--drop-shadow-md);
  --drop-shadow-lg: var(--drop-shadow-lg);
  --drop-shadow-xl: var(--drop-shadow-xl);
  --drop-shadow-2xl: var(--drop-shadow-2xl);
  --inset-shadow-2xs: var(--inset-shadow-2xs);
  --inset-shadow-xs: var(--inset-shadow-xs);
  --inset-shadow-sm: var(--inset-shadow-sm);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-sidebar-foreground-muted: var(--sidebar-foreground-muted);
}

:root {
  --color-base-border: #e5e5e5;
  --color-background-alt: #fafafa;
  --color-utility-neutral-50: #fafafa;
  --color-utility-neutral-100: #f5f5f5;
  --color-utility-neutral-500: #737373;
  --color-utility-neutral-600: #525252;
  --color-utility-brand-50: #edfcfb;
  --color-utility-brand-300: #52e5d8;
  --color-utility-brand-500: #00bfae;
  --color-utility-brand-800: #00685f;
  --color-utility-amber-50: #fffbeb;
  --color-utility-amber-200: #fde68a;
  --color-utility-amber-700: #b45309;
  --color-utility-red-50: #fef2f2;
  --color-utility-red-200: #fecaca;
  --color-utility-red-700: #b91c1c;
  --primary: oklch(0.205 0.000 0.000);
  --accent: oklch(0.970 0.000 0.000);
  --background: oklch(1.000 0.000 0.000);
  --border: oklch(0.922 0.000 0.000);
  --card: oklch(1.000 0.000 0.000);
  --card-foreground: oklch(0.145 0.000 0.000);
  --destructive: oklch(0.577 0.215 27.325);
  --destructive-foreground: oklch(0.971 0.013 17.380);
  --accent-foreground: oklch(0.205 0.000 0.000);
  --foreground: oklch(0.145 0.000 0.000);
  --input: oklch(0.922 0.000 0.000);
  --muted: oklch(0.970 0.000 0.000);
  --popover: oklch(1.000 0.000 0.000);
  --popover-foreground: oklch(0.145 0.000 0.000);
  --primary-foreground: oklch(0.985 0.000 0.000);
  --ring: oklch(0.715 0.000 0.000);
  --secondary: oklch(0.970 0.000 0.000);
  --secondary-foreground: oklch(0.205 0.000 0.000);
  --muted-foreground: oklch(0.556 0.000 0.000);
  --chart-1: oklch(0.646 0.194 41.116);
  --chart-2: oklch(0.600 0.104 184.704);
  --chart-3: oklch(0.398 0.066 227.392);
  --chart-4: oklch(0.837 0.164 84.429);
  --chart-5: oklch(0.769 0.165 70.080);
  --sidebar: oklch(0.985 0.000 0.000);
  --sidebar-foreground: oklch(0.145 0.000 0.000);
  --sidebar-primary: oklch(0.205 0.000 0.000);
  --sidebar-primary-foreground: oklch(0.985 0.000 0.000);
  --sidebar-accent: oklch(0.970 0.000 0.000);
  --sidebar-accent-foreground: oklch(0.205 0.000 0.000);
  --sidebar-border: oklch(0.922 0.000 0.000);
  --sidebar-ring: oklch(0.715 0.000 0.000);
  --sidebar-foreground-muted: oklch(0.556 0.000 0.000);
  --background-light-alt: oklch(0.985 0.000 0.000);
  --background-dark-alt: oklch(0.205 0.000 0.000);
  --brand-50: oklch(0.980 0.016 192.091);
  --brand-100: oklch(0.952 0.047 189.878);
  --brand-200: oklch(0.908 0.087 188.568);
  --brand-300: oklch(0.841 0.125 186.743);
  --brand-400: oklch(0.771 0.132 186.707);
  --brand-500: oklch(0.723 0.128 183.696);
  --brand-600: oklch(0.640 0.113 184.130);
  --brand-700: oklch(0.554 0.098 183.862);
  --brand-800: oklch(0.465 0.082 184.552);
  --brand-900: oklch(0.371 0.066 184.246);
  --brand-950: oklch(0.303 0.053 185.046);
  --font-sans: var(--font-geist-sans);
  --font-serif: Georgia, serif;
  --font-mono: var(--font-geist-mono);
  --radius-sm: 0.375rem;
  --radius-xs: 0.125rem;
  --radius-lg: 0.625rem;
  --radius-xl: 0.875rem;
  --radius-md: 0.5rem;
  --radius-2xl: 1.125rem;
  --radius-3xl: 1.375rem;
  --radius-4xl: 1.625rem;
  --text-base: 1rem;
  --text-base--line-height: 1.5;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.43;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.56;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1.33;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.4;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.33;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 1.11;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 1.2;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --blur-xs: 4px;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;
  --shadow-2xs: 0 1px 0 0 oklch(0.000 0.000 0.000 / 0.05);
  --shadow-xs: 0 1px 2px 0 oklch(0.000 0.000 0.000 / 0.05);
  --shadow-sm: 0 1px 3px 0 oklch(0.000 0.000 0.000 / 0.1), 0 1px 2px -1px oklch(0.000 0.000 0.000 / 0.1);
  --shadow-md: 0 4px 6px -1px oklch(0.000 0.000 0.000 / 0.1), 0 2px 4px -2px oklch(0.000 0.000 0.000 / 0.1);
  --shadow-lg: 0 10px 15px -3px oklch(0.000 0.000 0.000 / 0.1), 0 4px 6px -4px oklch(0.000 0.000 0.000 / 0.1);
  --shadow-xl: 0 20px 25px -5px oklch(0.000 0.000 0.000 / 0.1), 0 8px 10px -6px oklch(0.000 0.000 0.000 / 0.1);
  --shadow-2xl: 0 25px 50px -12px oklch(0.000 0.000 0.000 / 0.25);
  --drop-shadow-xs: 0 1px 1px 0 oklch(0.000 0.000 0.000 / 0.05);
  --drop-shadow-sm: 0 1px 2px 0 oklch(0.000 0.000 0.000 / 0.15);
  --drop-shadow-md: 0 3px 3px 0 oklch(0.000 0.000 0.000 / 0.12);
  --drop-shadow-lg: 0 4px 4px 0 oklch(0.000 0.000 0.000 / 0.15);
  --drop-shadow-xl: 0 9px 7px 0 oklch(0.000 0.000 0.000 / 0.1);
  --drop-shadow-2xl: 0 25px 25px 0 oklch(0.000 0.000 0.000 / 0.15);
  --inset-shadow-2xs: inset 0 1px 0 0 oklch(0.000 0.000 0.000 / 0.05);
  --inset-shadow-xs: inset 0 1px 1px 0 oklch(0.000 0.000 0.000 / 0.05);
  --inset-shadow-sm: inset 0 2px 4px 0 oklch(0.000 0.000 0.000 / 0.05);
}

.dark {
  --primary: oklch(0.922 0.000 0.000);
  --accent-foreground: oklch(0.985 0.000 0.000);
  --background: oklch(0.145 0.000 0.000);
  --border: oklch(1.000 0.000 0.000 / 0.1);
  --card: oklch(0.205 0.000 0.000);
  --accent: oklch(0.371 0.000 0.000);
  --card-foreground: oklch(0.985 0.000 0.000);
  --destructive: oklch(0.711 0.166 22.216);
  --destructive-foreground: oklch(0.971 0.013 17.380);
  --foreground: oklch(0.985 0.000 0.000);
  --input: oklch(1.000 0.000 0.000 / 0.15);
  --muted: oklch(0.269 0.000 0.000);
  --popover: oklch(0.269 0.000 0.000);
  --popover-foreground: oklch(0.985 0.000 0.000);
  --primary-foreground: oklch(0.205 0.000 0.000);
  --ring: oklch(0.556 0.000 0.000);
  --secondary: oklch(0.269 0.000 0.000);
  --secondary-foreground: oklch(0.985 0.000 0.000);
  --muted-foreground: oklch(0.715 0.000 0.000);
  --chart-1: oklch(0.488 0.217 264.376);
  --chart-2: oklch(0.696 0.149 162.480);
  --chart-3: oklch(0.769 0.165 70.080);
  --chart-4: oklch(0.627 0.233 303.900);
  --chart-5: oklch(0.645 0.215 16.439);
  --sidebar: oklch(0.205 0.000 0.000);
  --sidebar-foreground: oklch(0.985 0.000 0.000);
  --sidebar-primary: oklch(0.488 0.217 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.000 0.000);
  --sidebar-accent: oklch(0.269 0.000 0.000);
  --sidebar-accent-foreground: oklch(0.985 0.000 0.000);
  --sidebar-border: oklch(1.000 0.000 0.000 / 0.1);
  --sidebar-ring: oklch(0.439 0.000 0.000);
  --sidebar-foreground-muted: oklch(0.715 0.000 0.000);
}

@layer base {
  .heading-xl {
    font-family: Geist;
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.09375rem;
  }

  .heading-lg {
    font-family: Geist;
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.075rem;
  }

  .heading-md {
    font-family: Geist;
    font-size: 2.25rem;
    line-height: 1.11;
    font-weight: 600;
    letter-spacing: -0.05625rem;
  }

  .heading-sm {
    font-family: Geist;
    font-size: 1.5rem;
    line-height: 1.33;
    font-weight: 600;
    letter-spacing: -0.0375rem;
  }

  .container-padding-x {
    padding-inline: 1.5rem;
  }

  .section-padding-y {
    padding-block: 6rem;
  }

  .section-title-gap-xl {
    gap: 1.5rem;
  }

  .section-title-gap-lg {
    gap: 1.25rem;
  }

  .section-title-gap-md {
    gap: 1.25rem;
  }

  .section-title-gap-sm {
    gap: 1rem;
  }

}

@media screen and (max-width: 80rem) {
  .heading-xl {
    font-family: Geist;
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.075rem;
  }

  .heading-lg {
    font-family: Geist;
    font-size: 2.25rem;
    line-height: 1.11;
    font-weight: 600;
    letter-spacing: -0.05625rem;
  }

  .heading-md {
    font-family: Geist;
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.04688rem;
  }

  .heading-sm {
    font-family: Geist;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: -0.03125rem;
  }

  .container-padding-x {
    padding-inline: 1rem;
  }

  .section-padding-y {
    padding-block: 4rem;
  }

  .section-title-gap-xl {
    gap: 1.25rem;
  }

  .section-title-gap-lg {
    gap: 1rem;
  }

  .section-title-gap-md {
    gap: 1rem;
  }

  .section-title-gap-sm {
    gap: 1rem;
  }

}
